include ../header/header
include ../start/start
include ../footer/footer

mixin page
	// block header
	+header()
	// end block header
	// block main
	+start()
	// end block main
	// block sidebar
	+footer()
	// end block sidebar
