include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include page/page

doctype html
html(lang="ru")

	head
		+head({
			"title": "Easy BEM template",
			"author": "Interact Agency",
			"description": "Easy BEM template"
		})

	+b.BODY.page
		+e.DIV.wrap
			+page()

		// build:js js/vendor.js defer
		script(defer, src="js/libs/jquery.min.js")
		// endbuild

		// build:js js/main.js defer
		script(defer, src="js/main.js")
		// endbuild
